rojo = #c94a36
amarillo = #ebbd26
verde = #78bd40
azul = #1b36bf

*
    margin 0
    padding 0
    box-sizing border-box
body
    width 100%
    height 100%
h1
    text-align center
    margin 5%
    font-family sans-serif
    font-size 2.5rem
h2
    text-align center
    margin 1%
    margin-top 2%
    font-family sans-serif
    font-size 2rem
#section_one
    width 100%
    height 100%
    display flex
    position relative
    flex-wrap wrap
    justify-content center
    .box
        width 200px
        height 35px
        margin 20px
        position relative
        overflow hidden
        border-radius 30px
        transition .5s ease-in-out
        background-color darkred
        &::after
            content ""
            position absolute
            color white
            height 100%
            width 100%
            background-color rgba(0,0,0,1)
            display block
            transition .5s ease-in-out
            border-radius 30px
        a
            width 100%
            height 100%
            display flex
            color white
            font-family sans-serif
            text-align center
            justify-content center
            align-items center
            position absolute
            z-index 99
            
        &:first-child
            position relative
            &::after
                left 0
                top 100% 
            &:hover
                &::after
                    top 0
        &:nth-child(2)
            &::after
                left 100%
                top -100%
            &:hover
                &::after
                    left 0
                    top 0 
        &:nth-child(3)
            &::after
                left -100%
                top 100%
            &:hover
                &::after
                    left 0
                    top 0     
        &:nth-child(4)
            position relative
            &::after
                left -100%
                top 0
            &:hover
                &::after
                    left 0
        &:nth-child(5)
            text-align center
            position relative
            display flex
            align-items center
            justify-content center
            font-family sans-serif
            transition .5s ease-in-out
            &::after
                content ""
                position absolute
                width 100%
                height 100%
                left 0
                top 0
                transform scaleX(0)
                transition .5s ease-in-out
                background-color black
            &:hover
                transition .5s ease-in-out
                &::after
                    transition .5s ease-in-out
                    transform scaleX(1)   
                a
                    &::after
                        transition .5s ease-in-out
                        transform scaleX(1)
            a
                color white
                letter-spacing 3px
                transition .5s ease-in-out
                text-decoration none
                position relative
                display flex
                justify-content center
                z-index 999
                height max-content
                width max-content
                &::after
                    content ""
                    position absolute
                    height 100%
                    width 100%
                    border-bottom 1px solid white
                    border-radius 0
                    background-color transparent
                    transform: scaleX(0)
                    transition .5s ease-in-out
     

#section_two
    width 100%
    display flex
    flex-wrap wrap
    justify-content center
    a
        display inline-block
        position relative
        background none
        border none
        color #fff
        font-size 18px
        cursor pointer
        margin 15px 20px
        background rgba(0,0,0,0.09)
        background #0000000
        font-family sans-serif
        text-decoration none
        span
            display block
            padding 15px 40px
            &::before, &::after
                content ""
                width 5px
                height 0
                position  absolute
                transition  all 0.2s linear
            &::before
                background-color #750979
            &::after
                background-color #ff9700     
        &::before, &::after
            content ""
            width 0
            height 5px
            position absolute
            transition all 0.2s linear
            background: linear-gradient(-90deg, rgba(117,9,121,1) 0%, rgba(255,151,0,1) 100%);      
        &:hover
            &::before, &::after
                width 100%
            span
                &::before, &::after
                    height  100%
        &:nth-child(7)
            &:hover
                &::before, &::after
                    width 70%
                span
                    &::before, &::after
                        height  70%   

    .btn-1
        &::before, &::after
            transition-delay 0.2s
            background: linear-gradient(90deg, rgba(117,9,121,1) 0%, rgba(255,151,0,1) 100%);  
        &::before
            right 0
            top 0
        &::after
            left 0
            bottom 0
        
        &:hover
            &::before, &::after
                transition-delay 0s
            span
                &::before,  &::after
                    transition-delay 0.2s
        span
            &::before, &::after
                transition-delay 0s
            &::before
                left 0
                top 0
            &::after
                right 0
                bottom 0            
    .btn-2
        &::before, &::after
            transition-delay 0.2s
        &::before
            right 0
            top 0
        &::after
            left 0
            bottom 0
        &:hover
            &::before, &::after
                transition-delay 0.2s
            span
                &::before,  &::after
                    transition-delay 0s
        span
            &::before, &::after
                transition-delay 0s
            &::before
                right 0
                bottom 0 
            &::after
                left 0
                top 0  
    .btn-3
        &::before
            right 0
            top 0
            transition-delay 0.4s
        &::after
            left 0
            bottom 0
            transition-delay 0s
        &:hover
            &::before
                transition-delay 0.2s
            &::after
                transition-delay 0.6s
            span
                &::before  
                     transition-delay 0s
                &::after
                    transition-delay 0.4s
        span
            &::before
                right 0
                bottom 0
                transition-delay 0.6s 
            &::after
                left 0
                top 0 
                transition-delay 0.2s
    .btn-4
        &::before
            right 0
            top 0
            transition-delay 0s
        &::after
            left 0
            bottom 0
            transition-delay 0s
        &:hover
            &::before, &::after
                transition-delay 0s
            span
                &::before, &::after
                    transition-delay 0s
        span
            &::before
                right 0
                bottom 0
                transition-delay 0s 
            &::after
                left 0
                top 0 
                transition-delay 0s
    .btn-5
        &::before
            left 0
            top 0
            transition-delay 0.2s
        &::after
            right 0
            bottom 0
            transition-delay 0.2s
        &:hover
            &::before, &::after
                transition-delay 0.2s
            span
                &::before, &::after
                    transition-delay 0.2s
        span
            &::before
                right 0
                bottom 0
                transition-delay 0.2s 
            &::after
                left 0
                top 0 
                transition-delay 0.2s  
    .btn-6
        &::before
            left 50%
            top 0
            transition-delay 0.2s
        &::after
            left 50%
            bottom 0
            transition-delay 0.2s
        &:hover
            &::before, &::after
                transition-delay 0.2s
                left: 0;
            span
                &::before, &::after
                    transition-delay 0.2s
                    top: 0;
        span
            &::before
                right 0
                top 50%
                transition-delay 0.2s 
            &::after
                left 0
                top 50% 
                transition-delay 0.2s    
    .btn-7
        &::before
            left 50%
            top 0
            transition-delay 0.2s
            background: linear-gradient(90deg, rgba(117,9,121,0) 0%, rgba(117,9,121,1) 25%, rgba(255,151,0,1) 75%, rgba(255,151,0,0) 100%);
        &::after
            right  50%
            bottom 0
            transition-delay 0.2s
            background: linear-gradient(90deg, rgba(117,9,121,0) 0%, rgba(117,9,121,1) 25%, rgba(255,151,0,1) 75%, rgba(255,151,0,0) 100%);
        &:hover
            &::before, &::after
                transition-delay 0.2s
            span
                &::before, &::after
                    transition-delay 0.2s
        span
            &::before
                right 0
                bottom 50%
                transition-delay 0.2s 
                background: linear-gradient(180deg, rgba(117,9,121,0) 0%, rgba(255,151,0,1) 25%, rgba(255,151,0,1) 75%, rgba(255,151,0,0) 100%);
            &::after
                left 0
                top 50% 
                transition-delay 0.2s
                background: linear-gradient(180deg, rgba(117,9,121,0) 0%, rgba(117,9,121,1) 25%, rgba(117,9,121,1) 75%, rgba(255,151,0,0) 100%);   
#section_three
    width 100%
    display flex
    flex-wrap wrap
    justify-content center
    a
        width 200px
        height 35px
        display flex
        align-items center
        justify-content center
        position relative
        color #fff
        font-size 18px
        cursor pointer
        margin 20px 30px
        font-family sans-serif
        text-decoration none
        transition 0.5s ease-in all
        overflow hidden
        position relative
        span
            display flex
            align-items center
            justify-content center
            width 100%
            height 100%
            position absolute
            text-align center
            z-index 2
        &:first-child
            background #000000
            &::after
                content ""
                background: linear-gradient(90deg, rgba(162,58,146,1) 0%, rgba(94,9,121,1) 24%, rgba(14,1,108,1) 46%, rgba(25,4,179,1) 69%, rgba(115,225,255,1) 100%);
                width 200%
                height 100%
                position absolute
                top 0
                right 0
                z-index 1
                transition 0.5s ease-in all
            &:hover
                transition 0.5s ease-in all
                &::after
                    transform translateX(50%)   
        &:nth-child(2)
            background: linear-gradient(90deg, rgba(184,6,6,1) 0%, rgba(196,103,0,1) 51%, rgba(255,207,0,1) 100%);
        &:nth-child(3)
            background: linear-gradient(90deg, rgba(124,184,6,1) 0%, rgba(0,196,90,1) 51%, rgba(0,119,255,1) 100%);
        &:nth-child(4)
            background: linear-gradient(90deg, rgba(7,6,184,1) 0%, rgba(124,14,126,1) 49%, rgba(207,67,143,1) 100%);    