* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container:first-child .box {
  position: relative;
}
.container:first-child .box::after {
  left: 0;
  top: 100%;
}
.container:first-child .box:hover::after {
  top: 0;
}
.container:nth-child(2) .box {
  position: relative;
}
.container:nth-child(2) .box::after {
  left: -100%;
  top: 100%;
}
.container:nth-child(2) .box:hover::after {
  left: 0;
  top: 0;
}
.container:nth-child(2) .box1 {
  border-radius: 0;
  background-color: #fff;
}
.container:nth-child(2) .box1::before {
  content: "Front";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: block;
  transition: 0.5s ease;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleY(1);
  border-radius: 30px;
}
.container:nth-child(2) .box1::after {
  content: "Back";
  left: 0;
  top: 100%;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  color: #fff;
  z-index: 1;
  transform: scaleY(0);
  border-radius: 30px;
}
.container:nth-child(2) .box1:hover::after {
  left: 0;
  top: 0;
  transition: 0.5s ease;
  transform: scaleY(1);
}
.container:nth-child(2) .box1:hover::before {
  left: 0;
  top: -100%;
  transition: 0.5s ease;
  transform: scaleY(0);
}
.container:nth-child(3) .box {
  position: relative;
}
.container:nth-child(3) .box::after {
  left: -100%;
  top: 0;
}
.container:nth-child(3) .box:hover::after {
  left: 0;
}
.container:nth-child(4) .box {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.container:nth-child(4) .box a {
  color: #fff;
  letter-spacing: 3px;
  transition: 0.5s ease;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
}
.container:nth-child(4) .box a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: 0.5s ease;
}
.container:nth-child(4) .box::after {
  left: 0;
  top: 0;
  transform: scaleX(0);
}
.container:nth-child(4) .box:hover a::after {
  transform: scaleX(1);
}
.container:nth-child(4) .box:hover::after {
  transform: scaleX(1);
}
.container .box {
  width: 20%;
  height: 5vh;
  margin: 2.5%;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}
.container .box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  display: block;
  transition: 0.5s ease-in-out;
  border-radius: 30px;
}
.container .box1 {
  background-color: #c94a36;
}
.container .box2 {
  background-color: #ebbd26;
}
.container .box3 {
  background-color: #78bd40;
}
.container .box4 {
  background-color: #1b36bf;
}
